<!-- ==========================================================
     Author Box
========================================================== -->

<section class="author-box">

    <div class="container">

        <div class="author-box__card">

            <div class="author-box__avatar">

                <img src="../../../assets/images/logo/logo.png"
                     alt="JapanTech">

            </div>

            <div class="author-box__content">

                <span class="author-box__label">

                    ABOUT JAPANTECH

                </span>

                <h2>

                    JapanTech

                </h2>

                <p>

                    JapanTech là website chia sẻ kiến thức về thiết kế máy,
                    tiêu chuẩn JIS, phần mềm kỹ thuật, tiếng Nhật chuyên ngành
                    và kinh nghiệm làm việc tại Nhật Bản.

                </p>

                <div class="author-box__buttons">

                    <a href="../../../about/index.html">

                        About JapanTech

                    </a>

                    <a href="../../../knowledge/index.html">

                        Knowledge Library

                    </a>

                </div>

            </div>

        </div>

    </div>

</section>