<!-- ==========================================================
     Breadcrumb
========================================================== -->

<section class="breadcrumb">

    <div class="container">

        <nav class="breadcrumb__nav">

            <a href="../../../index.html">

                Home

            </a>

            <span>/</span>

            <a href="../../../knowledge/index.html">

                Knowledge

            </a>

            <span>/</span>

            <a href="../../../knowledge/machine-design/index.html">

                Machine Design

            </a>

            <span>/</span>

            <span class="breadcrumb__current">

                Bearing

            </span>

        </nav>

    </div>

</section>