<section class="category-list">

    <div class="container">

        <div class="article-grid">

            <article class="article-card">

                <a href="../bearing/">

                    <img
                        src="../../assets/images/article-placeholder.webp"
                        alt="Bearing">

                    <div class="article-content">

                        <span class="article-category">

                            Machine Design

                        </span>

                        <h3>

                            Bearing là gì?

                        </h3>

                        <p>

                            Tổng quan, cấu tạo, phân loại và ứng dụng của Bearing.

                        </p>

                    </div>

                </a>

            </article>

            <!-- Các article-card khác -->

        </div>

    </div>

</section>