<header class="header">

    <div class="container">

        <div class="header__wrapper">

            <!-- Logo -->

            <a data-link="home"
               class="header__logo">

                <span class="header__logo-main">
                    JapanTech
                </span>

                <span class="header__logo-sub">
                    Engineering Knowledge
                </span>

            </a>

            <!-- Desktop Menu -->

            <nav class="header__nav">

                <ul class="header__menu">

                    <li>
                        <a data-link="home">
                            Home
                        </a>
                    </li>

                    <li>
                        <a data-link="knowledge">
                            Knowledge
                        </a>
                    </li>

                    <li>
                        <a data-link="japanese">
                            Japanese
                        </a>
                    </li>

                    <li>
                        <a data-link="software">
                            Software
                        </a>
                    </li>

                    <li>
                        <a data-link="life">
                            Life in Japan
                        </a>
                    </li>

                    <li>
                        <a data-link="tools">
                            Tools
                        </a>
                    </li>

                    <li>
                        <a data-link="about">
                            About
                        </a>
                    </li>

                </ul>

            </nav>

            <!-- Right Actions -->

            <div class="header__actions">

                <button
                    class="header__theme"
                    type="button"
                    aria-label="Dark Mode">

                    🌙

                </button>

                <button
                    id="btnMenu"
                    class="header__menu-button"
                    type="button"
                    aria-label="Menu">

                    ☰

                </button>

            </div>

        </div>

    </div>

</header>