<div class="author-box">

    <div class="author-avatar">

        <img
            src="/assets/images/author/avatar.jpg"
            alt="JapanTech Author">

    </div>

    <div class="author-content">

        <h3 class="author-name">

            Tuấn Lê

        </h3>

        <p class="author-title">

            Mechanical Design Engineer | JapanTech Founder

        </p>

        <p class="author-description">

            Chia sẻ kiến thức về thiết kế máy, tiêu chuẩn JIS,
            tiếng Nhật kỹ thuật, kinh nghiệm làm việc tại Nhật
            và định hướng nghề nghiệp dành cho kỹ sư.

        </p>

        <div class="author-links">

            <a href="../../../about/index.html">

                About

            </a>

            <span>|</span>

            <a href="../../../index.html">

                JapanTech

            </a>

        </div>

    </div>

</div>