<section class="hero">

    <div class="container">

        <div class="hero__content">

            <span class="hero__tag">
                JAPANTECH
            </span>

            <h1 class="hero__title">
                Kiến thức thiết kế máy và kỹ thuật dành cho kỹ sư
            </h1>

            <p class="hero__description">
                Chia sẻ kiến thức thực tế về thiết kế máy, tiêu chuẩn JIS,
                cơ khí, tiếng Nhật kỹ thuật và kinh nghiệm làm việc tại Nhật Bản.
            </p>

            <div class="hero__buttons">

                <a href="./knowledge/" class="btn btn-primary">
                    Bắt đầu học
                </a>

                <a href="./about/" class="btn btn-secondary">
                    Giới thiệu
                </a>

            </div>

        </div>

    </div>

</section>