<!-- ==========================================================
     HOME PAGE
=========================================================== -->

<!-- Hero -->
<section
    id="hero"
    data-component="./components/pages/home/hero.html">
</section>

<!-- Search -->
<section
    id="homeSearch"
    data-component="./components/pages/home/search.html">
</section>

<!-- Knowledge Categories -->
<section
    id="knowledgeCategories"
    data-component="./components/pages/home/categories.html">
</section>

<!-- Latest Articles -->
<section
    id="latestArticles"
    data-component="./components/pages/home/latest.html">
</section>

<!-- Featured Learning Path -->

<section
    id="learningPath"
    data-component="./components/pages/home/learning-path.html">
</section>

<!-- About JapanTech -->

<section
    id="aboutJapanTech"
    data-component="./components/pages/home/about.html">
</section>

<!-- Website Statistics -->

<section
    id="websiteStatistics"
    data-component="./components/pages/home/statistics.html">
</section>

<!-- Featured Articles -->
<section
    id="featuredArticles"
    data-component="./components/pages/home/featured.html">
</section>

<!-- Newsletter -->
<section
    id="newsletter"
    data-component="./components/pages/home/newsletter.html">
</section>

<!-- Call To Action -->
<section
    id="cta"
    data-component="./components/pages/home/cta.html">
</section>